{% include 'head.html' %}
<br><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="h4 text-center">Record New Video (Press Q to quit)</div>
                 <br>
                <form action="record1">
                    <div>
                        <input type="submit" value="Open Camera" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
